.grid {
  left: -220px;
  width: 200px;
  bottom: 0;
  top: 0;
  z-index: 99999;
  position: absolute;
  transition: all 0.2s ease;
  background: white;
  padding: 50px 10px;
}

.grid.open {
  left: 0;
}

.flip {
  position: absolute;
  top: 50%;
  left: calc(100% - 25px);
  transform: rotate(90deg)translateX(-50%);
  border-bottom: 40px solid white;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 40px;

  >div {
    margin-top: 10px;
    transform: rotate(-90deg);
  }

}



.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
}
.container:hover input ~ .checkmark {
    background-color: #ffcf5679;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #FFD056;
  }
  button {
    background-color: #FFD056;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 3px;
    padding: 5px 10px;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }