<app-world-status></app-world-status>
<app-map></app-map>
<div class="madeby"> 
    Made by mrPeanut - want to support this project? <form action="https://www.paypal.com/donate" method="post" target="_blank" ngNoForm >
        <input type="hidden" name="business" value="58JPZW28NM9Y4" />
        <input type="hidden" name="item_name" value="support server costs" />
        <input type="hidden" name="currency_code" value="EUR" />
        <button>sure!</button>
        <img alt="" border="0" src="https://www.paypal.com/en_BE/i/scr/pixel.gif" width="1" height="1" />
      </form>
  
</div>

<!-- <router-outlet></router-outlet> -->
