
.disclaimer {
  position: absolute;
  text-shadow: 0 0 5px black;
  color: white;
  top: 1rem;
  left: 3rem;
  z-index: 999999;
}

.madeby {
  color: white;
  text-shadow: 0 0 5px black;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  z-index: 999999;
}

a, a:visited, a:active {
  color: white;
}

a:hover {
  color: #f2f2f2;
}


svg {max-width: 1px;}


form {
  display: inline-block;
  margin-left: 5px;
  button {
    background: #FFD056;
    border: none;
    outline: 0;
    &:hover {
      background: #b98c1b;
    }
  }

}
