
<!-- <div class="magic">
  <input  (change)="slide('x',$event)" type="range" min="0" max="2048" > 
  <input  (change)="slide('y',$event)" type="range" min="0" max="2048" > 
  <input  (change)="slide('s',$event)" type="range" min="0" max="1" step="0.01"> 
</div> -->

<div class="prev" *ngIf="returnMain">
  <button (click)="setActiveGroup(0)">return to main map</button>
</div>
<div class="loader" [hidden]="!(loading$ | async)"><img src="./assets/logo.png"/></div>
<div class="map-container {{maps && maps[activeMap]?.LandName}}" id="map" #map [ngClass]="{'invis': (loading$ | async)}">
  <div class="popup" #popup>
    <div class="popup-inner" *ngIf="activeFeature">
      <div class="header">
        <div class="name">
          {{ activeFeature.name }}
          <ng-container *ngIf="activeFeature.title">
            - {{ activeFeature.title }}
          </ng-container>
        </div>
        <div class="level" *ngIf="activeFeature.level">
          level: {{ activeFeature.level }}
        </div>
      </div>
      <div class="body">
        <div class="info" *ngIf="activeFeature.description">
          <p>{{ activeFeature.description }}</p>
        </div>
        <div class="drops" *ngIf="activeFeature.drops">
          <h5>Drops:</h5>
          <ul>
            <li *ngFor="let drop of activeFeature.drops">
              <div>{{ drop.amount }} {{ drop.name }}</div>
              <div>{{ drop.chance }}</div>
            </li>
          </ul>
        </div>
        <div class="drops" *ngIf="activeFeature.items">
          <h5>Items:</h5>
          <ul>
            <li *ngFor="let item of activeFeature.items">
              <div>{{ item.name }}</div>
              <div>{{ item.storeamount }} - {{ item.value }} coins</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="location" #location></div>
<form [formGroup]="form">
  <app-filters
    *ngIf="filters"
    formControlName="filters"
    [filters]="filters"
  ></app-filters>
</form>
<div id="sneaky" #sneaky></div>
<app-infotab></app-infotab>
